<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

<body>
    <!-- ==================Navigation Started================================== -->
    {{>navbar}}
    <!-- ==========================Navigatioin Ended================================ -->
    <!-- ==========================About Start================================ -->
    <div class="container">
        <div class="text-center my-3">
            <h1 class="wow animate__animated animate__fadeInDown">.. <span class="">Who</span><span class="text-success "> We Are</span><span class="">
                    ?</span>..</h1>
        </div>
        <div class="row justify-content-center ">

            <div class="col-11 col-md-10 frame text-center wow animate__animated animate__zoomIn ">
                <strong>APNA KHET BAGAN FOUNDATION</strong> is a not-for-profit company, registered under section 8 of
                the
                company registration act, engaged in the welfare of farming community and try to supply less
                chemical/chemical residue free farm fresh products to the urban population..
            </div>
        </div>


        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-11 col-md-5 col-lg-4 frame wow animate__animated animate__zoomIn ">
                <img src="/images/apnakhet.png" class="container-fluid" alt="apnakhet.org">
            </div>
            <div class="col-11 col-md-5 col-lg-6 wow animate__animated animate__fadeInRight ">
                <p class="text-center"><strong>Apna khet is a farm of naturally grown vegetables, fruits and cereals
                        located in
                        Bathnaha.</strong> A village
                    in
                    the fertile suburbs of Sitamarhi district in Bihar, also known as the birthplace of Goddess Sita. It
                    is
                    a place with rich and productive land, far from the commotion of city which is deeply calm and
                    composed.

                    Apna Khet believes in the concept of ‘Farm to Table’ model. We strongly believe that an individual
                    who
                    is consuming food should know, from where it’s coming from, how is it grown and who is producing it?
                    For
                    instance, there is family doctor, family hairdresser, family tailor. So, how about a family farmer?
                    Apna
                    Khet is your own family farmer! And the first product that we are bringing to your tables, are
                    Mangoes!
                    The sweetness of mangoes is going to be great kickstart to our sustained relationship.</p>
            </div>

        </div>
        <div class="row justify-content-center d-flex align-items-center">

            <div class="col-11 col-md-5 col-lg-6 wow animate__animated animate__fadeInLeft ">
                <p class="text-center"><strong>With the idea</strong> of trying to save our customers from the hassle of
                    scouring through
                    markets to buy the best quality of mangoes during the season, we at Apna Khet, strive to bring
                    fresh, hand-picked and mouth-watering mangoes, right at your door step. We grow our Mangoes
                    naturally, with no chemicals used in the ripening process. Once these mangoes are semi-ripe, we
                    dispatch them from our farm to your home. It reaches to you within 2-3 days. In the transit period,
                    most of the mangoes attain their consumable state. And as you open the boxes, these delicious golden
                    fruits aromatize your entire home in no time, the feeling of which might take you down the memory
                    lane to your childhood and your village, where during the harvest season, the similar aroma of
                    mangoes predominated the entire environment. We are certain that it’s going to be a wonderful
                    experience for you and your family!.</p>
            </div>
            <div class="col-11 col-md-5 col-lg-4 frame wow animate__animated animate__zoomIn ">
                <img src="/images/a2.jpg" class="container-fluid" alt="">
            </div>
        </div>
        <div class=" justify-content-center my-2">
            <h5 class="mx-auto text-center">
                To know more about Us , Visit Our Gallery. Click<a href="/gallery"
                    class=" text-success mx-1 py-1 px-2 curve">Gallery</a>to Visit.
            </h5>

        </div>
        {{!-- <div class="text-center my-3 shadow py-2 parallax">
            <h1 class="text-white "> Our Team</h1>
        </div>
        <div class="row justify-content-center my-3 py-3">
            <div class="col-11 col-sm-3 curve text-center  imgcover">
                <img src="/images/img1.jpg" height="150px" width="150px" alt="">
                <figcaption class="blockquote-footer my-2">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </div>
            <div class="col-11 col-sm-7 shadow curve d-flex align-items-center">
                <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto iste temporibus eos
                    enim eaque
                    ipsum consequatur repellendus, provident, suscipit sequi tenetur odio neque magni quidem? Iste qui
                    nisi ad in?
                    ipsum consequatur repellendus, provident, suscipit sequi tenetur odio neque magni quidem? Iste qui
                    nisi ad in?</p>
            </div>


        </div>
        <div class="row justify-content-center d-flex flex-row-reverse my-3 py-3">
            <div class="col-11 col-sm-3 curve text-center  imgcover">
                <img src="/images/img1.jpg" height="150px" width="150px" alt="">
                <figcaption class="blockquote-footer my-2">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </div>
            <div class="col-11 col-sm-7 shadow curve d-flex align-items-center">
                <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto iste temporibus eos
                    enim eaque
                    ipsum consequatur repellendus, provident, suscipit sequi tenetur odio neque magni quidem? Iste qui
                    nisi ad in?
                    ipsum consequatur repellendus, provident, suscipit sequi tenetur odio neque magni quidem? Iste qui
                    nisi ad in?</p>
            </div>


        </div>
        <div class="row justify-content-center my-3 py-3">
            <div class="col-11 col-sm-3 curve text-center  imgcover">
                <img src="/images/img1.jpg" height="150px" width="150px" alt="">
                <figcaption class="blockquote-footer my-2">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </div>
            <div class="col-11 col-sm-7 shadow curve d-flex align-items-center">
                <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto iste temporibus eos
                    enim eaque
                    ipsum consequatur repellendus, provident, suscipit sequi tenetur odio neque magni quidem? Iste qui
                    nisi ad in?
                    ipsum consequatur repellendus, provident, suscipit sequi tenetur odio neque magni quidem? Iste qui
                    nisi ad in?</p>
            </div>


        </div>
        <div class="row justify-content-center d-flex flex-row-reverse my-3 py-3">
            <div class="col-11 col-sm-3 curve text-center  imgcover">
                <img src="/images/img1.jpg" height="150px" width="150px" alt="">
                <figcaption class="blockquote-footer my-2">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </div>
            <div class="col-11 col-sm-7 shadow curve d-flex align-items-center">
                <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto iste temporibus eos
                    enim eaque
                    ipsum consequatur repellendus, provident, suscipit sequi tenetur odio neque magni quidem? Iste qui
                    nisi ad in?
                    ipsum consequatur repellendus, provident, suscipit sequi tenetur odio neque magni quidem? Iste qui
                    nisi ad in?</p>
            </div>


        </div> --}}
    </div>


    <!-- ==========================About Ended================================ -->



    {{>footer}}
    {{>cdnscript}}
</body>

</html>