<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}

<body>
    <!-- ==================Navigation Started================================== -->
    {{>navbar}}
    <!-- ==========================Navigatioin Ended================================ -->

    <div class="row mx-auto justify-content-center mt-4">
        <div class="col-11 col-sm-8 col-lg-6  mx-auto shadow zoomonhover">
            <h5 class="text-center text-danger mx-auto my-4 wow animate__animated animate__fadeInDown">Frequently Asked Questions</h5>
            <div class="accordion accordion-flush wow animate__animated animate__fadeInUp " id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed text-dark h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Why purchase from APNA KHET?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">APNA KHET BAGAN FOUNDATION is a Not-For-Profit company, registered
                            under Section 8 of company registration act. We are providing products, direct from farmer
                            to end user, this is a FARM TO TABLE Concept. Your money directly goes to farmers account
                            after deduction of actual expenditure and service charges. We are just bridge between farmer
                            and you.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed text-dark h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Are these an organic product?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">Presently, we are not selling organic certified products. We are
                            selling less chemical/chemical residue free products. We are not using any chemical/gas to
                            ripen or enhance the self life of agro produce.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed text-dark h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            What should I do, money has been deducted from my account but the order confirmation mail is
                            not received.?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">Don't worry, please send the screen shot of transaction success
                            report. We will resolve it within a week.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed text-dark h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            What should I do, money has been deducted from my account but the transaction success report
                            not displayed on payment page?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">Don't worry, within a week money will be credited in to your
                            account. If it doesn't, please send the transaction number with relevant details.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed text-dark h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            How can I cancel my order?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">As soon as, we got your order, we passed on it to the farmer. This
                            is very disappointing for the farmer/rural women to cancel the order. So, we have no any
                            cancellation policy. But, in special condition, you may request for cancellation.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed text-dark h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false"
                            aria-controls="flush-collapseSix">
                            Can I refund the products?
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">Most of these products are perishable in nature or made on the order
                            by you. These are the hard-earned product of our farmers. This is very disappointing for the
                            farmer/rural women to refund the order. So, we have no any refund policy.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed text-dark h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeven" aria-expanded="false"
                            aria-controls="flush-collapseSeven">
                            I have received raw mango, What do I do now?
                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">We do not use any chemicals/gas for ripening mangoes. Please keep
                            the mango in a dry place, cover it with paper and enjoy the natural ripening process. For
                            more information, please refer to the instruction slip.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                        <button class="accordion-button collapsed text-dark h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEight" aria-expanded="false"
                            aria-controls="flush-collapseEight">
                            How I store wheat flour?
                        </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">We are not using any type of preservatives for enhancing the
                            shelf
                            life of wheat/ragi flour. Please store it in dry & air tight container.It is advisable to
                            consume these flour within 10-15 days of receiving the consignment.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNine">
                        <button class="accordion-button collapsed text-dark h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseNine" aria-expanded="false"
                            aria-controls="flush-collapseNine">
                            Why you take long time to supply the products?
                        </button>
                    </h2>
                    <div id="flush-collapseNine" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">These products are natural and handmade. After getting order, rural
                            women start to process it. Some process are also depend on the weather conditions and these
                            are labour consuming. So, we take unusual long time to dispatch the products..</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTen">
                        <button class="accordion-button collapsed text-dark h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTen" aria-expanded="false"
                            aria-controls="flush-collapseTen">
                            Why should I donate to "Apna Khet Bagan Foundation"
                        </button>
                    </h2>
                    <div id="flush-collapseTen" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">Apna Khet Bagan Foundation is a not-for-profit company engaged in
                            the welfare of the farming community. Your donation is used for the welfare of farming
                            community/rural population. So, please donate in Apna Khet Bagan Foundation. For donation
                            you can visit our donation page or send us whatsapp and get link/QR code.</div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-3 text-secondary">Still Having Queries? Plz drop Us a Message</p>
        <div class="col-11  col-sm-8 col-lg-6 mx-auto mt-3 logbox curve h-100 border py-4">

            <h3 class="text-center text-secondary mx-auto mb-4">Contact Us</h3>
            <form action="/help" method="POST">
                <div class="row  my-2 mx-auto justify-content-center">

                    <div class="col-12 col-md-3  col-xl-2">
                        <p class=" py-1 my-0 h6 text-info px-2">Email</p>
                    </div>
                    <div class="col-12 col-md-8 h-100 border-0 col-xl-6">
                        <input class="w-100 py-1 border curve px-2" type="email" placeholder="Email" name="querrymail"
                            required>
                    </div>
                </div>
                <div class="row  my-2 mx-auto justify-content-center">

                    <div class="col-12 col-md-3  col-xl-2">
                        <p class=" py-1 my-0 h6 text-info px-2">Subject</p>
                    </div>
                    <div class="col-12 col-md-8 h-100 border-0 col-xl-6">
                        <input class="w-100 py-1 border curve px-2" type="text" placeholder="Subject"
                            name="querrysubject" required>
                    </div>
                </div>
                <div class="row  my-2 mx-auto justify-content-center">

                    <div class="col-12 col-md-3  col-xl-2">
                        <p class=" py-1 my-0 h6 text-info px-2">Message</p>
                    </div>
                    <div class="col-12 col-md-8 h-100 border-0 col-xl-6">
                        <textarea class="w-100 py-1 border curve px-2" type="text" placeholder="Your Message Here...."
                            rows="5" cols="10" name="querrytext" required></textarea>
                    </div>
                </div>


                <div class="text-center ">
                    <span class="hoverWhite">
                        <input type="submit" value="Send" onclick="fun()"
                            class="my-2 py-2 px-4 curve   btn btn-outline-info">

                    </span>

                </div>
            </form>



        </div>
    </div>

    <div class="row mx-auto justify-content-center ">
        <div class="col-11  col-sm-8 col-lg-6 mx-auto mt-3 logbox curve h-100  py-4">

            <h3 class="text-center text-secondary mx-auto mb-4">Or</h3>
            <div class="row">

                <a href="tel:9264496999"
                    class="text-decoration-none col-3 shadow mx-auto text-center py-2 curve btn btn-outline-primary wow animate__animated animate__bounceIn 	">
                    <i class="fa fa-phone h4 pt-2"></i>
                </a>
                <a href="mailto:business@apnakhet.org"
                    class="text-decoration-none col-3 shadow mx-auto text-center py-2 curve btn btn-outline-danger wow animate__animated animate__bounceIn 	">
                    <i class="fa fa-envelope h4 pt-2"></i></a>
                <a href="https://wa.me/+919262290959/?text=Hello%20there.%20I%20need%20your%20help." target="_blank"
                    class="text-decoration-none col-3 shadow mx-auto text-center py-2 curve btn btn-outline-success wow animate__animated animate__bounceIn ">
                    <i class="fab fa-whatsapp h4 pt-2"></i></a>

            </div>




        </div>

    </div>

    {{>footer}}
    {{>cdnscript}}
</body>

</html>