<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}
    <style>
        h1 {
            font-family: Satisfy;
            font-size: 50px;
            text-align: center;
            color: black;
            padding: 1%;
        }
        

        .modal-img,
        .model-vid {
            width: 100%;
            height: auto;
        }

        .modal-body {
            padding: 0px;

        }
    </style>

<body>
    {{>navbar}}
    <div class="mx-auto"><h3 class="my-3 bg-warning text-center py-2  mx-5"><span class="text-white p-3">News And Articles</span></h3></div>
    

    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-11   col-md-5 col-lg-3 shadow m-2 p-0 wow animate__animated animate__zoomIn d-flex align-items-center">
                <img src="/images/news8.jpeg" class="container-fluid p-0" data-bs-toggle="modal"
                    data-bs-target="#myModal">
            </div>
            <div class="col-11   col-md-5 col-lg-3 shadow m-2 p-0 wow animate__animated animate__zoomIn d-flex align-items-center">
                <img src="/images/news7.jpeg" class="container-fluid p-0" data-bs-toggle="modal"
                    data-bs-target="#myModal">
            </div>
            <div class="col-11   col-md-5 col-lg-3 shadow m-2 p-0 wow animate__animated animate__zoomIn d-flex align-items-center">
                <img src="/images/news6.jpeg" class="container-fluid p-0" data-bs-toggle="modal"
                    data-bs-target="#myModal">
            </div>
            <div class="col-11   col-md-5 col-lg-3 shadow m-2 p-0 wow animate__animated animate__zoomIn d-flex align-items-center">
                <img src="/images/news5.jpeg" class="container-fluid p-0" data-bs-toggle="modal"
                    data-bs-target="#myModal">
            </div>
            <div class="col-11   col-md-5 col-lg-3 shadow m-2 p-0 wow animate__animated animate__zoomIn d-flex align-items-center">
                <img src="/images/news3-min.jpeg" class="container-fluid p-0" data-bs-toggle="modal"
                    data-bs-target="#myModal">
            </div>
            <div class="col-11   col-md-5 col-lg-3 shadow m-2 p-0 wow animate__animated animate__zoomIn d-flex align-items-center">
                <img src="/images/news1.jpeg" class="container-fluid p-0" data-bs-toggle="modal"
                    data-bs-target="#myModal">
            </div>
            <div class="col-11   col-md-5 col-lg-3 shadow m-2 p-0 wow animate__animated animate__zoomIn d-flex align-items-center">
                <img src="/images/news2.jpeg" class="container-fluid p-0" data-bs-toggle="modal"
                    data-bs-target="#myModal">
            </div>
            <div class="col-11   col-md-5 col-lg-3 shadow m-2 p-0 wow animate__animated animate__zoomIn d-flex align-items-center">
                <img src="/images/news4.jpeg" class="container-fluid p-0" data-bs-toggle="modal"
                    data-bs-target="#myModal">
            </div>
            <div class="col-11   col-md-5 col-lg-3 border shadow curve wow animate__animated  animate__zoomIn d-flex align-items-center">
                <a href="/gallery" class="">
                    <h1 class=" mb-0 p-3">Click to See Our Gallery</h1>
                </a>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>

        </div>
    </div>
    {{>footer}}
    {{>cdnscript}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            $("img").click(function () {
                var t = $(this).attr("src");

                $(".modal-body").html("<img src='" + t + "' class='modal-img'>");
                $("#myModal").modal();
                console.log("hhii")
            });

            $("video").click(function () {
                var v = $("video > source");
                var t = v.attr("src");
                console.log(t)
                $(".modal-body").html("<video class='model-vid' autoplay muted controls><source src='" + t + "' type='video/mp4'></video>");
                $("#myModal").modal();
            });
        });


    </script>
</body>

</html>