<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="comtainer my-4">


        <form action="/paytm/paynow" method="POST">

            <div class="row mx-auto text-center justify-content-center my-3">
                <div class="col-11 ">
                    <h1 class="text-warning"><i class="fa-solid fa-triangle-exclamation"></i></h1>
                    <h4>Payment Started..do not refresh..</h4>

                </div>

            </div>
            <div class="row mx-auto text-center justify-content-center my-3 d-none">
                <div class="col-11 col-md-2">
                    <input type="text" name="key" readonly>
                </div>

            </div>
            <div class="row mx-auto text-center justify-content-center my-3 d-none">
                <div class="col-11 col-md-2">
                    <button id="submit" type="submit"></button>
                </div>

            </div>

        </form>


    </div>

    {{>cdnscript}}
    <script>
        document.getElementsByName("key")[0].value = check_cookie_name('customerKey');
        document.getElementById("submit").click();
    </script>
</body>

</html>