<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}

<body>
    <div class="row ">
        <div class="col-10  mx-auto text-center ">
            <h1>Terms And Conditions</h1>
        </div>
        <div class="col-10  mx-auto my-2 ">
            Thanks for shopping with us! By buying via Apna Khet you have encouraged the farmers to reach you and sell
            directly to you.</div>
        <div class="col-10  mx-auto my-2 ">
            <strong>Delivery :</strong><br>
            Deliveries for all items are scheduled as per the harvest of the crop. Items will be delivered within 2-4
            days of the harvest. All the schedule of delivery will be duly communicated over a phone call or email or
            SMS.
        </div>
        <div class="col-10  mx-auto my-2 ">
            <strong>Return & Refunds :</strong><br>

            At the time of delivery, if the delivery box is damaged or tampered then don’t receive the consignment. you
            return it right there and then and we will make the necessary adjustments to your order value.

            In case you have already paid for the returned item previously (through an online transaction, or
            subscription), we will issue a return for the value of the returned products which will be credited to your
            bank account within 7 working days. Partial return is not possible.

            You are requested to submit your complaints within 48 hours of receiving the product. We are not able to
            credit or replace any items which have been kept beyond a period of 48 hours post-delivery. Please share a
            picture of the products via WhatsApp or email with our customer care team on 9264496999 or on email at
            business@apnakhet.org.

        </div>
        <div class="col-10  mx-auto my-2 ">
            <strong>Complaints and Quality:</strong><br>
            For complaints we receive after the delivery pertaining to quality issues, will be refunded.

            Complaints will be handled on a case by case basis. The look and size of the products are not variables on
            which complaints can be received. We do a quality check at our end and ensure that the farmer has sent
            acceptable quality produce. Any substandard produce is removed at our end itself.

            We guarantee freshness at the time of delivery, so we encourage people to send in complaints ideally at the
            time of delivery, or else soon after so that refunds/credits can be easily processed.

            The farmer who grows your produce knows best about his produce. He picks out what he considers to be his
            best quality products and sends them to you. Here are a few pointers which you should read carefully to
            understand the fruit.

            Taste – not looks – should be the defining factor when you talk about the quality of produce. Looks can be
            achieved through a variety of methods which might involve the use of chemicals either at the growth stage or
            by using other means to artificially enhance the production.
            Produce sent by us would be like how nature intended it to be. There would not be any enhancement done to
            the fruit post-harvest. The size and colour of the product might vary across the season. But we will ensure
            that the product would be good to taste.
            In a case a similar thing happens in your non-perishable produce (atta, rice, pulses etc) when it is still
            in the package, please call and inform us and we will replace the package for you. The product has to be
            returned in the original packaging.
        </div>
        <div class="col-10  mx-auto my-2 ">
            <strong>Cancellation Policy :</strong><br>

            You as a customer can cancel your order any time within 48 hours of the order for which you have placed an
            order by calling our customer service at 9264496999. In such a case we will refund any payments already made
            by you for the order. For any changes in your order, please reach out to our customer care team on
            9264496999.
        </div>
    </div>

    {{>footer}}
    {{>cdnscript}}
</body>

</html>