<div class="topic text-center mx-auto my-2">
    <h1 class="topictitle  wow animate__animated animate__zoomIn"><a href="/about"> <span class="text-secondary">About</span>
            <span class="text-warning h2">APNA KHET</span></a></h1>
    <div class="row justify-content-center my-3 mx-auto">

        <div class="col-11 col-md-10 frame text-center text-secondary wow animate__animated animate__zoomIn ">
            <strong>APNA KHET BAGAN FOUNDATION</strong> is a not-for-profit company, registered under section 8 of
            the company registration act, engaged in the welfare of farming community and try to supply less
            chemical/chemical residue free farm fresh products to the urban population..<strong>Apna khet is a farm
                of naturally grown vegetables, fruits and cereals located in Bathnaha.</strong> A village in the
            fertile suburbs of Sitamarhi district in Bihar, also known as the birthplace of Goddess Sita. It is
            a place with rich and productive land, far from the commotion of city which is deeply calm and
            composed. Apna Khet believes in the concept of ‘Farm to Table’ model ...
        </div>
        <div class="col-11 col-md-10 text-center my-2"><a href="/about" class=" curve border p-2">Know more ..</a>
        </div>
    </div>
</div>