<footer class="mt-3 footershadow">
    <div class="container">
        <div class="row">
            <a href="/" class="col-md-3 footer-column">
                <img src="/images/logowbg-min.png" width="150px" alt="logo">
            </a>
            <div class="col-md-3 footer-column">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="footer-title">Product</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Plans & Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Frequently asked questions</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-column">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="footer-title">Company</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">News and articles</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-column">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="footer-title">Contact & Support</span>
                    </li>
                    {{!-- <li class="nav-item">
                        <span class="nav-link"><i class="fas fa-phone"></i>+47 45 80 80 80</span>
                    </li> --}}
                    <li class="nav-item">
                        <a class="nav-link" href="tel:+919264496999"><i class="fas fa-phone"></i>Call Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://wa.me/+919262290959/?text=Hello%20there.%20I%20need%20your%20help." target="_blank"><i class="fa-brands fa-whatsapp"></i>Whatsapp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:business@apnakhet.org"><i class="fas fa-envelope"></i>Mail Us </a>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>

        <div class="row text-center">
            <div class="col-md-3 box">
                <span class="copyright quick-links text-secondary">Copyright &copy; Apna Khet 2022

                </span>
            </div>
            <div class="col-md-4 box">
                <ul class="list-inline social-buttons">
                    {{!-- <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li> --}}
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/apnakhetindia/" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/apna.khet/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 box">
                <ul class="list-inline quick-links">
                    <li class="list-inline-item">
                        <a href="/privacy-policy">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/terms">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>