<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{!-- animate.css --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/logowbg-min.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apna Khet</title>
    {{!-- meta description --}}
    <meta name="description"
        content="Apna khet a farm of naturally grown vegetables, fruits and cerals.Apna khet, your farm Friend deals with organic farm Products directly from farmer's land to you" />
    <meta name="keywords"
        content="MANGO,APNAKHET,FARM PRODUCT,ORGANIC,BAMBAI MANGO,MALDAH MANGO,SUKUL MANGO,SHUKUL MANGO,ROASTED FLAXSEED,LINSEED POWDER,WHEAT FLOUR,BLACK WHEAT,BLACK WHEAT FLOUR,RAGI,FINGER MILLET FLOUR,APNA KHET,FARM PRODUCT,ORGANIC PRODUCT,NATURAL PRODUCT" />
</head>